.title{
  margin-top: 0px;
}
.work-experience{
  margin-bottom: 0px;
  }

.reply-button{
    margin: 10px;
}
.reply-buttons-flex{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.material-icons{
  vertical-align: sub;
}
