<div class="header">
    <h1>Vacancy</h1>
</div>

<h3> {{ data.Name }} </h3>
<p> Start Date: {{ data.Date | date:'dd-MM-yy' }} </p>
<p> Start Time: {{ data.Date | date:'hh:mm' }} </p>
<p> Experience: {{ data.SkillTypeName }} Months</p>

<form>
    <mat-form-field>
        <input matInput placeholder="User ID" type="number" required>
    </mat-form-field>
    
    <div class="reply-buttons-flex">
        <!-- <button class="reply-button mat-button-reject" mat-raised-button>Reject</button> -->
        <button type="submit" class="reply-button mat mat-button-accept" mat-raised-button>Apply</button> 
    </div>
</form>