<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 rel="stylesheet">
<div class="header">
    <h2>Accept Vacancy?</h2>
    <!-- <a onclick=""><i class="material-icons">highlight_off</i></a> -->
</div>
<div>
  <p> {{ data.Name }} </p>
  <div class='date'>
    <i class="material-icons">{{ this.dateIcon }}</i>
    {{ this.dateString }} 
  </div>
  <br/>

  <div class='container'>
    <div class='time'>
     <i class="material-icons">schedule</i>
     {{ data.StartDate | date:'hh:mm' }} - {{ data.EndDate | date:'hh:mm' }}
    </div>
    <br/>

    <p>Required skills: </p>
    <mat-chip-list>
      <div *ngFor="let skillItem of data.SkillList">
        <mat-chip class="capitalize">{{ skillItem.SkillTypeName }}</mat-chip>
      </div>
    </mat-chip-list>
    <p> Required work experience: {{ data.Experience }} Months</p>
  </div>

  <div>  
    <div class="reply-buttons-flex">
      <button class="reply-button mat" mat-button color="primary">CANCEL</button>
      <button class="reply-button mat" mat-raised-button (click)="submitApplication(true)" color="primary">ACCEPT</button> 
    </div>
  </div>
</div>