<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 rel="stylesheet">
<div class="header">
    <a onclick=""><i class="material-icons">highlight_off</i></a>
</div>
<div>
  <h4> {{ data.Name }} </h4>
  <div class='date'>
    <i class="material-icons">date_range</i>
    <!-- {{ data.StartDate | date:'dd-MM-yy' }}
    {{ data.EndDate | date:'dd-MM-yy' }} -->
    {{ this.dateString }} 
  </div>
  <br/>

  <div class='container'>
    <div class='time'>
     <i class="material-icons">schedule</i>
     {{ data.StartDate | date:'hh:mm' }} - {{ data.EndDate | date:'hh:mm' }}
    </div>
    <br/>

    <p>Required skills: </p>
    <mat-chip-list>
      <div *ngFor="let skillItem of data.SkillList">
        <mat-chip class="capitalize">{{ skillItem.SkillTypeName }}</mat-chip>
      </div>
    </mat-chip-list>
    <p> Required work experience: {{ data.Experience }} Months</p>
  </div>

  <div>
    <div class="reply-buttons-flex">
      <!-- <button class="reply-button mat-button-reject" mat-raised-button (click)="submitApplication(false)">Reject</button> -->
      <button class="reply-button mat mat-button-accept" mat-raised-button (click)="submitApplication(true)">Apply</button> 
    </div>
  </div>
</div>