.reply-button{
    margin: 10px;
}
.mat-button-reject{
  background-color:#d9534f;
  color: #eeeeee;
}
.mat-button-accept{
  background-color:#5cb85c;
  color: #eeeeee;
}

.reply-buttons-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons{
  vertical-align: sub;
}

