<form action="">
  <div class="wrapper">
    <!-- Persoonsgegevens -->
    <div class="left-half">
      <div class="col-10 col-md-2">
          <app-upload-picture id="picture"></app-upload-picture>
      </div>
      <div class="upload-picture-input-devider"></div>
      <div class="left-of-picture">
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="dateOfBirthPicker" placeholder="Date of Birth" [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirthPicker [touchUi]="isMobile"></mat-datepicker>
        </mat-form-field>
      </div>
      
    
      <div class="under-picture">
        <mat-form-field appearance="standard">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Home Address</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput type="email">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Hourly Wage</mat-label>
          <input matInput>
        </mat-form-field>
        
       
        <mat-form-field>
          <mat-select placeholder="Job Type" [(value)]="newEmployee.jobType" formControlName="jobType">
            <mat-option *ngFor="let jobType of jobTypeItems" [(value)]="jobType.value">
              {{ jobType.placeholder | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
          
     
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    <!-- Gegevens Werkgever -->
    <div class="col-10 col-md-5 row">
      
    </div>
  </div>
</form>