<span><h1>Open Vacatures</h1></span>
<div class="grid-container">
<a *ngFor="let vacancyItem of vacancylist" (click)="openDialog(vacancyItem.taak, vacancyItem.datum, vacancyItem.ervaring)" class="papers" >
    <div class="top-div">
        <img class="image" src="\assets\calender.svg">
        <span>
            <b>{{ vacancyItem.taak }}</b>
        </span>
        <span style="text-align: right;">
            {{ vacancyItem.datum }}
          </span>
    </div>
    <div class="bottom-div">
      <span>Ervaring: {{ vacancyItem.ervaring }}</span>      
    </div>
  </a>  

  <!-- component import test <vacature-dialog></vacature-dialog> -->
</div>