<div class="grid-container">
    <a routerLink="/addvacancy" class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\add_image.svg">
    </div>
    <div class="bottom-div">
      <span>
        Werknemer toevoegen
      </span>  
    </div>
  </a>
  <div class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\vacature.svg">
    </div>
    <div class="bottom-div">
      <span>
        Vacatures
      </span>
    </div>
  </div>
  <div class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\reactie.svg">
    </div>
    <div class="bottom-div">
      <span>
        Reactie Werknemers
      </span>
    </div>
  </div>
  <a  class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\newrelease.svg">
    </div>
    <div class="bottom-div">
      <span>
        Coming soon
      </span>
    </div>
  </a>
  <a  class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\newrelease.svg">
    </div>
    <div class="bottom-div">
      <span>
        Coming soon
      </span>
    </div>
  </a>
  <a  class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\newrelease.svg">
    </div>
    <div class="bottom-div">
      <span>
        Coming soon
      </span>
    </div>
  </a>
  <a  class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\newrelease.svg">
    </div>
    <div class="bottom-div">
      <span>
        Coming soon
      </span>
    </div>
  </a>
  <a class="papers" >
    <div class="top-div">
    <img class="image" src="\assets\dashboard_img\newrelease.svg">
    </div>
    <div class="bottom-div">
      <span>
        Coming soon
      </span>
    </div>
  </a>
</div>