// Display form fields vertically 
.mat-form-field {
    display: unset;
}

// At medium screen width
@media (min-width: 720px) {
    .upload-picture-input-devider  {
        width: 5vw;
    }
}
  

form {
    width: 90vw;
}