<form action="">
  <div class="row align-items-center">
      <div class="col-10 col-md-4">
          <app-upload-picture id="picture"></app-upload-picture>
      </div>
      <div class="col-10 col-md-6">
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Birthdate</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
</form>

<!-- <mat-form-field appearance="standard">
  <mat-label>Standard form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field> -->